<p-toast></p-toast>
<input type="text" pInputText [(ngModel)]="txtUserName" placeholder="User Name">
<input type="text" pInputText [(ngModel)]="txtPwd" placeholder="Password">
<button pButton pRipple type="button" label="Submit" class="p-button-rounded" (click)="onSubmit()"></button>
<button pButton pRipple type="button" label="update" class="p-button-rounded" (click)="onUpdate()"></button>
<button pButton pRipple type="button" label="delete" class="p-button-rounded" (click)="onDelete()"></button>
